In [21]:
import pandas as pd

In [22]:
import sys
sys.path.append('c:/Users/tomas/Documents/Programación/Github/Patricionog/Modulio')
import Foragio as fg
import Excelio as ex
import Framio as fr
import Stringio as st
import Listio as ls

In [23]:
# Nombres de archivos.

Filename_Migraciones = 'Migraciones'
Filename_Sedes_Basico = 'Sedes_Basico'
Filename_Sedes = 'Sedes'
Filename_Secciones = 'Secciones'

In [24]:
# Carpeta contenedora.

Path = 'C:/Users/tomas/Documents/Programación/Github/Patricionog/Laboratorio de datos/Práctico 1/'

In [25]:
# Dataframes.

Migraciones = pd.read_csv(Path + Filename_Migraciones + '.csv')
Sedes_Basico = pd.read_csv(Path + Filename_Sedes_Basico + '.csv')
Sedes = pd.read_csv(Path + Filename_Sedes + '.csv')
Secciones = pd.read_csv(Path + Filename_Secciones + '.csv')

In [26]:
# Migraciones

Migraciones.head()

,Country Origin Name,Country Origin Code,Migration by Gender Name,Migration by Gender Code,Country Dest Name,Country Dest Code,1960 [1960],1970 [1970],1980 [1980],1990 [1990],2000 [2000]
0,Afghanistan,AFG,Female,FEM,Afghanistan,AFG,0,0,0,0,0
1,Afghanistan,AFG,Female,FEM,Albania,ALB,0,0,0,0,0
2,Afghanistan,AFG,Female,FEM,Algeria,DZA,22,8,6,5,4
3,Afghanistan,AFG,Female,FEM,American Samoa,ASM,0,0,0,0,0
4,Afghanistan,AFG,Female,FEM,Andorra,AND,0,0,0,2,3

In [27]:
# Cambiar nombres de columnas por unos más descriptivos.

New_Names = {'Country Dest Name': 'Country Destiny Name',
             'Country Dest Code': 'Country Destiny Code',
             '1960 [1960]': 1960,
             '1970 [1970]': 1970,
             '1980 [1980]': 1980,
             '1990 [1990]': 1990,
             '2000 [2000]': 2000}

Migraciones = fr.Change_Column_Names_By_Dictionary(Migraciones, New_Names)

Migraciones.head()

,Country Origin Name,Country Origin Code,Migration by Gender Name,Migration by Gender Code,Country Destiny Name,Country Destiny Code,1960,1970,1980,1990,2000
0,Afghanistan,AFG,Female,FEM,Afghanistan,AFG,0,0,0,0,0
1,Afghanistan,AFG,Female,FEM,Albania,ALB,0,0,0,0,0
2,Afghanistan,AFG,Female,FEM,Algeria,DZA,22,8,6,5,4
3,Afghanistan,AFG,Female,FEM,American Samoa,ASM,0,0,0,0,0
4,Afghanistan,AFG,Female,FEM,Andorra,AND,0,0,0,2,3

In [28]:
# Cambiar estilo de los nombres de las columnas.

Migraciones = fr.Casing_Column_Names(Migraciones, "Snake Case")

Migraciones.head()

,country_origin_name,country_origin_code,migration_by_gender_name,migration_by_gender_code,country_destiny_name,country_destiny_code,1960,1970,1980,1990,2000
0,Afghanistan,AFG,Female,FEM,Afghanistan,AFG,0,0,0,0,0
1,Afghanistan,AFG,Female,FEM,Albania,ALB,0,0,0,0,0
2,Afghanistan,AFG,Female,FEM,Algeria,DZA,22,8,6,5,4
3,Afghanistan,AFG,Female,FEM,American Samoa,ASM,0,0,0,0,0
4,Afghanistan,AFG,Female,FEM,Andorra,AND,0,0,0,2,3

#### Problema. 
- Los países son a veces "subpaíses", como Taiwán o Hong Kong. Si se saca el país padre (China) se pierde info, pero si solo se deja al padre tampoco tiene mucho sentido, porque no es China China.
¿Se podría armar otra tabla indicando eso, con hijos y padres? No sé.

In [29]:
# Seleccionamos filas con problemas.
Migraciones_Problems = fr.Get_Selected_Rows(Migraciones, 'country_destiny_name', ',', Condition = 'Contains')

In [30]:
# Vemos los valores únicos de esos problemas.
Migraciones_Problems['country_destiny_name'].unique()

array(['Bahamas, The', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Egypt, Arab Rep.', 'Gambia, The', 'Hong Kong SAR, China',
       'Iran, Islamic Rep.', 'Korea, Dem. Rep.', 'Korea, Rep.',
       'Macao SAR, China', 'Macedonia, FYR', 'Micronesia, Fed. Sts.',
       'Taiwan, China', 'Venezuela, RB', 'Virgin Islands, British',
       'Yemen, Rep.'], dtype=object)

In [31]:
# Casos especiales.

New_Names = {'Congo, Dem. Rep.': 'Democratic Republic of the Congo',
             'Congo, Rep.': 'Republic of the Congo',
             'Korea, Dem. Rep.': 'North Korea',
             'Korea, Rep.': 'South Korea'}

for Old_Name, New_Name in New_Names.items():
    Migraciones['country_destiny_name'] = Migraciones['country_destiny_name'].replace(Old_Name, New_Name)
    Migraciones['country_origin_name'] = Migraciones['country_origin_name'].replace(Old_Name, New_Name)

In [32]:
# Removemos lo que hay de string después de la coma en las dos columnas de nombres de países.

Migraciones = fr.Apply_Operations_To_Selected_Rows(Migraciones,
                                     Filtered_Column = 'country_destiny_name',
                                     Filter_Value = ',',
                                     Condition ='Contains',
                                     Columns_To_Operate = ['country_destiny_name'],
                                     Operations = [lambda x: ls.Slice_Iterable_By_Reference(x, ',', Remove='After', Include = False, Appears=1)])

Migraciones = fr.Apply_Operations_To_Selected_Rows(Migraciones,
                                     Filtered_Column = 'country_origin_name',
                                     Filter_Value = ',',
                                     Condition = 'Contains',
                                     Columns_To_Operate = ['country_origin_name'],
                                     Operations = [lambda x: ls.Slice_Iterable_By_Reference(x, ',', Remove='After', Include = False, Appears=1)])

In [33]:
# Quitar SAR.

Migraciones = Migraciones.replace('Macao SAR', 'Macao')

Migraciones[Migraciones['country_destiny_name'] == 'Macao'].head()

,country_origin_name,country_origin_code,migration_by_gender_name,migration_by_gender_code,country_destiny_name,country_destiny_code,1960,1970,1980,1990,2000
119,Afghanistan,AFG,Female,FEM,Macao,MAC,0,0,1,2,2
350,Afghanistan,AFG,Male,MAL,Macao,MAC,2,0,2,2,2
581,Afghanistan,AFG,Total,TOT,Macao,MAC,3,1,4,4,4
812,Albania,ALB,Female,FEM,Macao,MAC,0,0,0,0,0
1043,Albania,ALB,Male,MAL,Macao,MAC,0,0,0,0,0

In [34]:
# Verificación.
Migraciones[Migraciones['country_origin_name'] == 'Democratic Republic of the Congo'].head()

,country_origin_name,country_origin_code,migration_by_gender_name,migration_by_gender_code,country_destiny_name,country_destiny_code,1960,1970,1980,1990,2000
30492,Democratic Republic of the Congo,COD,Female,FEM,Afghanistan,AFG,0,2,1,3,5
30493,Democratic Republic of the Congo,COD,Female,FEM,Albania,ALB,0,0,0,0,0
30494,Democratic Republic of the Congo,COD,Female,FEM,Algeria,DZA,0,0,0,0,0
30495,Democratic Republic of the Congo,COD,Female,FEM,American Samoa,ASM,0,0,0,0,0
30496,Democratic Republic of the Congo,COD,Female,FEM,Andorra,AND,0,0,2,4,6

In [35]:
# Quitar filas con el genero TOT, ya que son la suma de FEM y MAL.
Migraciones = fr.Drop_Selected_Rows(Migraciones, 'migration_by_gender_code', 'TOT', Condition = 'Match')